@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .contatc-form{
    width: 20%;
    height: 10%;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}